/* Google Fonts - Roboto Mono, Rethink Sans */
@import url('https://fonts.googleapis.com/css2?family=Rethink+Sans:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    padding: 0.2rem;
    padding-left: 1.2rem;
    overflow-x: hidden;
    text-wrap: nowrap;
}

button {
    margin-top: 1rem;
    font-family: "Roboto Mono", Sans-serif;
    padding: 0.5rem;
    border-color: transparent;
    border-width: 0;
    background-color: white;
}

button:active {
    animation: 0.2s button_click forwards;
}

@keyframes button_click {
    from {scale: 1; background-color: white; color: white;}
    to {scale: 0.8; background-color: black; color: white;}
}

@keyframes number_change {
    from {opacity: 0; margin-top: -0.2rem;}
    to {opacity: 1;}
}

@keyframes dark_mode_change {
    from {background-image: url(images/Blueprint_white.svg); color: black; background-color: white;}
    to {background-image: url(images/Blueprint_black.svg); color: white; background-color: black;}
}

@keyframes dark_mode_button_change {
    from {background-color: white; color: black;}
    to {background-color: #141414; color: white;}
}

@keyframes dark_mode_valuebox_change {
    from {background-color: black;}
    to {background-color: white;}
}

@keyframes dark_mode_valuetext_change {
    from {color: white;}
    to {color: black;}
}

h1 {
    font-family: "Roboto Mono", Sans-serif;
}

#main_logo {
    height: 2rem;
    width: 2rem;
    margin-bottom: -0.3rem;
}

#value_box {
    background-color: #000000;
    color: white;
    padding: 0.2rem;
    width: 6.3rem;
    height: 4rem;
    z-index: 2;
    position: relative;
}

#value_text {
    text-align: center;
    margin-top: 0.8rem;
    font-family: "Rethink Sans";
    z-index: 3;
}

#sum_text {
    font-family: "Roboto Mono", Sans-serif;
    font-weight: normal;
}

#sum_number {
    margin-left: 4.2rem;
    font-size: 1.5rem;
    margin-top: -3.2rem;
    font-family: "Roboto Mono";
}

@keyframes sum_number_change {
    from {opacity: 0; margin-left: 4.8rem;}
    to {opacity: 1;}
}

#stop_button {
    background: repeating-linear-gradient(-55deg, var(--stopbutton-color-one), var(--stopbutton-color-one) 8px, var(--stopbutton-color-two) 8px, var(--stopbutton-color-two) 13px);
    --stopbutton-color-one: #f21d1f;
    --stopbutton-color-two: #ffffff;
    color: white;
    padding: 0.2rem;
    width: 2.3rem;
    height: 4rem;
    margin-left: 7rem;
    margin-top: -4.4rem;
    cursor: pointer;
    z-index: 1;
    visibility: hidden;
}

@keyframes stop_appear {
    from {opacity: 0; margin-left: 2rem;}
    to {}
}

#revamped_language_button {
    margin-top: 1rem;
    background-color: #dbdbdb;
    height: 2.5rem;
    width: 6rem;
    padding: 0.2rem;
}

#selected_language_button {
    background-color: white;
    height: 2.5rem;
    width: 3rem;
    margin-top: -2.5rem;
}

#gb_flag {
    width: 2rem;
    height: 2rem;
    margin-top: 0.25rem;
    margin-left: 0.5rem;
    cursor: pointer;
}

#cz_flag {
    width: 2rem;
    height: 2rem;
    margin-left: 0.85rem;
    cursor: pointer;
}

@keyframes dark_mode_languagebutton_change {
    from {}
    to {background-color: #141414}
}

@keyframes dark_mode_selectedlanguagebutton_change {
    from {}
    to {background-color: #2e2e2e}
}

@keyframes language_indicator_change_toCzech {
    0% {}
    100% {margin-left: 3rem;}
}

@keyframes language_indicator_change_toEnglish {
    0% {margin-left: 3rem;}
    100% {margin-left: 0rem;}
}